<a href="https://colab.research.google.com/github/elichen/aoc2022/blob/main/Day_11_Monkey_in_the_Middle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

In [ ]:
lines = open("input.txt").readlines()
lines = [x.strip() for x in lines]

In [ ]:
# lines = '''Monkey 0:
#   Starting items: 79, 98
#   Operation: new = old * 19
#   Test: divisible by 23
#     If true: throw to monkey 2
#     If false: throw to monkey 3

# Monkey 1:
#   Starting items: 54, 65, 75, 74
#   Operation: new = old + 6
#   Test: divisible by 19
#     If true: throw to monkey 2
#     If false: throw to monkey 0

# Monkey 2:
#   Starting items: 79, 60, 97
#   Operation: new = old * old
#   Test: divisible by 13
#     If true: throw to monkey 1
#     If false: throw to monkey 3

# Monkey 3:
#   Starting items: 74
#   Operation: new = old + 3
#   Test: divisible by 17
#     If true: throw to monkey 0
#     If false: throw to monkey 1'''
# lines = lines.split("\n")
# lines = [x.strip() for x in lines]

In [ ]:
monkeys = []
i = 0
while i < len(lines):
  name = re.split(' |:', lines[i])[1]; i += 1
  items = list(map(int, re.split(' |, ', lines[i])[2:])); i+= 1
  op = re.split(' = ', lines[i])[1]; i += 1
  test = int(re.split(' by ', lines[i])[1]); i += 1
  t_dst = int(re.split(' monkey ', lines[i])[1]); i += 1
  f_dst = int(re.split(' monkey ', lines[i])[1]); i += 1
  i += 1
  monkeys.append({"items":items, "op":op, "test":test, "t_dst":t_dst, "f_dst":f_dst})
monkeys

[{'items': [74, 73, 57, 77, 74],
  'op': 'old * 11',
  'test': 19,
  't_dst': 6,
  'f_dst': 7},
 {'items': [99, 77, 79], 'op': 'old + 8', 'test': 2, 't_dst': 6, 'f_dst': 0},
 {'items': [64, 67, 50, 96, 89, 82, 82],
  'op': 'old + 1',
  'test': 3,
  't_dst': 5,
  'f_dst': 3},
 {'items': [88], 'op': 'old * 7', 'test': 17, 't_dst': 5, 'f_dst': 4},
 {'items': [80, 66, 98, 83, 70, 63, 57, 66],
  'op': 'old + 4',
  'test': 13,
  't_dst': 0,
  'f_dst': 1},
 {'items': [81, 93, 90, 61, 62, 64],
  'op': 'old + 7',
  'test': 7,
  't_dst': 1,
  'f_dst': 4},
 {'items': [69, 97, 88, 93],
  'op': 'old * old',
  'test': 5,
  't_dst': 7,
  'f_dst': 2},
 {'items': [59, 80], 'op': 'old + 6', 'test': 11, 't_dst': 2, 'f_dst': 3}]

In [ ]:
for _ in range(20):
  for m in monkeys:
    while len(m['items']):
      item = m['items'].pop(0)
      m['inspected'] = m.get('inspected',0)+1
      old = item
      new = eval(m['op'])
      new = new // 3
      if new % m['test'] == 0:
        monkeys[m['t_dst']]['items'].append(new)
      else:
        monkeys[m['f_dst']]['items'].append(new)
monkeys

[{'items': [5, 5, 5, 3, 3, 3, 3, 3, 3, 19],
  'op': 'old * 11',
  'test': 19,
  't_dst': 6,
  'f_dst': 7,
  'inspected': 163},
 {'items': [64, 7, 7, 7, 7, 7, 7, 9, 5, 270023884279, 3],
  'op': 'old + 8',
  'test': 2,
  't_dst': 6,
  'f_dst': 0,
  'inspected': 258},
 {'items': [],
  'op': 'old + 1',
  'test': 3,
  't_dst': 5,
  'f_dst': 3,
  'inspected': 51},
 {'items': [8, 8, 8, 8, 8, 535519, 5, 5, 3, 3, 3, 3, 3, 3, 3],
  'op': 'old * 7',
  'test': 17,
  't_dst': 5,
  'f_dst': 4,
  'inspected': 247},
 {'items': [],
  'op': 'old + 4',
  'test': 13,
  't_dst': 0,
  'f_dst': 1,
  'inspected': 271},
 {'items': [],
  'op': 'old + 7',
  'test': 7,
  't_dst': 1,
  'f_dst': 4,
  'inspected': 22},
 {'items': [],
  'op': 'old * old',
  'test': 5,
  't_dst': 7,
  'f_dst': 2,
  'inspected': 105},
 {'items': [],
  'op': 'old + 6',
  'test': 11,
  't_dst': 2,
  'f_dst': 3,
  'inspected': 229}]

In [ ]:
l = sorted([x['inspected'] for x in monkeys],reverse=True)
l[0] * l[1]

69918

In [ ]:
monkeys = []
i = 0
while i < len(lines):
  name = re.split(' |:', lines[i])[1]; i += 1
  items = list(map(int, re.split(' |, ', lines[i])[2:])); i+= 1
  op = re.split(' = ', lines[i])[1]; i += 1
  test = int(re.split(' by ', lines[i])[1]); i += 1
  t_dst = int(re.split(' monkey ', lines[i])[1]); i += 1
  f_dst = int(re.split(' monkey ', lines[i])[1]); i += 1
  i += 1
  monkeys.append({"items":items, "op":op, "test":test, "t_dst":t_dst, "f_dst":f_dst})
monkeys

[{'items': [74, 73, 57, 77, 74],
  'op': 'old * 11',
  'test': 19,
  't_dst': 6,
  'f_dst': 7},
 {'items': [99, 77, 79], 'op': 'old + 8', 'test': 2, 't_dst': 6, 'f_dst': 0},
 {'items': [64, 67, 50, 96, 89, 82, 82],
  'op': 'old + 1',
  'test': 3,
  't_dst': 5,
  'f_dst': 3},
 {'items': [88], 'op': 'old * 7', 'test': 17, 't_dst': 5, 'f_dst': 4},
 {'items': [80, 66, 98, 83, 70, 63, 57, 66],
  'op': 'old + 4',
  'test': 13,
  't_dst': 0,
  'f_dst': 1},
 {'items': [81, 93, 90, 61, 62, 64],
  'op': 'old + 7',
  'test': 7,
  't_dst': 1,
  'f_dst': 4},
 {'items': [69, 97, 88, 93],
  'op': 'old * old',
  'test': 5,
  't_dst': 7,
  'f_dst': 2},
 {'items': [59, 80], 'op': 'old + 6', 'test': 11, 't_dst': 2, 'f_dst': 3}]

In [ ]:
tests = [x['test'] for x in monkeys]
for m in monkeys:
  for i in range(len(m['items'])):
    orig = m['items'][i]
    m['items'][i] = [orig%x for x in tests]
monkeys

[{'items': [[17, 0, 2, 6, 9, 4, 4, 8],
   [16, 1, 1, 5, 8, 3, 3, 7],
   [0, 1, 0, 6, 5, 1, 2, 2],
   [1, 1, 2, 9, 12, 0, 2, 0],
   [17, 0, 2, 6, 9, 4, 4, 8]],
  'op': 'old * 11',
  'test': 19,
  't_dst': 6,
  'f_dst': 7},
 {'items': [[4, 1, 0, 14, 8, 1, 4, 0],
   [1, 1, 2, 9, 12, 0, 2, 0],
   [3, 1, 1, 11, 1, 2, 4, 2]],
  'op': 'old + 8',
  'test': 2,
  't_dst': 6,
  'f_dst': 0},
 {'items': [[7, 0, 1, 13, 12, 1, 4, 9],
   [10, 1, 1, 16, 2, 4, 2, 1],
   [12, 0, 2, 16, 11, 1, 0, 6],
   [1, 0, 0, 11, 5, 5, 1, 8],
   [13, 1, 2, 4, 11, 5, 4, 1],
   [6, 0, 1, 14, 4, 5, 2, 5],
   [6, 0, 1, 14, 4, 5, 2, 5]],
  'op': 'old + 1',
  'test': 3,
  't_dst': 5,
  'f_dst': 3},
 {'items': [[12, 0, 1, 3, 10, 4, 3, 0]],
  'op': 'old * 7',
  'test': 17,
  't_dst': 5,
  'f_dst': 4},
 {'items': [[4, 0, 2, 12, 2, 3, 0, 3],
   [9, 0, 0, 15, 1, 3, 1, 0],
   [3, 0, 2, 13, 7, 0, 3, 10],
   [7, 1, 2, 15, 5, 6, 3, 6],
   [13, 0, 1, 2, 5, 0, 0, 4],
   [6, 1, 0, 12, 11, 0, 3, 8],
   [0, 1, 0, 6, 5, 1, 2, 2],
   [9, 0, 0, 15, 1, 3, 1, 0]],
  'op': 'old + 4',
  'test': 13,
  't_dst': 0,
  'f_dst': 1},
 {'items': [[5, 1, 0, 13, 3, 4, 1, 4],
   [17, 1, 0, 8, 2, 2, 3, 5],
   [14, 0, 0, 5, 12, 6, 0, 2],
   [4, 1, 1, 10, 9, 5, 1, 6],
   [5, 0, 2, 11, 10, 6, 2, 7],
   [7, 0, 1, 13, 12, 1, 4, 9]],
  'op': 'old + 7',
  'test': 7,
  't_dst': 1,
  'f_dst': 4},
 {'items': [[12, 1, 0, 1, 4, 6, 4, 3],
   [2, 1, 1, 12, 6, 6, 2, 9],
   [12, 0, 1, 3, 10, 4, 3, 0],
   [17, 1, 0, 8, 2, 2, 3, 5]],
  'op': 'old * old',
  'test': 5,
  't_dst': 7,
  'f_dst': 2},
 {'items': [[2, 1, 2, 8, 7, 3, 4, 4], [4, 0, 2, 12, 2, 3, 0, 3]],
  'op': 'old + 6',
  'test': 11,
  't_dst': 2,
  'f_dst': 3}]

In [ ]:
for _ in range(10000):
  for m_i in range(len(monkeys)):
    m = monkeys[m_i]
    while len(m['items']):
      item = m['items'].pop(0)
      # print("old",item, tests)
      # print("op",m['op'])
      m['inspected'] = m.get('inspected',0)+1
      new = []
      for i in range(len(item)):
        old = item[i]
        new.append(eval(m['op']) % tests[i])
      # print("new", new)
      if new[m_i] % m['test'] == 0:
        monkeys[m['t_dst']]['items'].append(new)
      else:
        monkeys[m['f_dst']]['items'].append(new)
monkeys

[{'items': [[1, 1, 1, 1, 4, 5, 1, 10],
   [6, 1, 1, 1, 4, 5, 1, 10],
   [0, 1, 2, 14, 11, 5, 2, 5],
   [0, 1, 2, 14, 11, 5, 1, 5],
   [0, 1, 2, 8, 6, 5, 1, 5],
   [0, 1, 2, 14, 11, 5, 1, 5],
   [0, 1, 2, 14, 0, 5, 1, 5],
   [4, 1, 2, 13, 11, 5, 2, 3]],
  'op': 'old * 11',
  'test': 19,
  't_dst': 6,
  'f_dst': 7,
  'inspected': 80160},
 {'items': [[17, 1, 2, 10, 7, 4, 0, 2],
   [13, 1, 2, 10, 3, 4, 0, 2],
   [11, 0, 0, 6, 11, 4, 4, 0],
   [11, 0, 0, 1, 6, 4, 3, 0],
   [11, 0, 0, 1, 11, 4, 3, 0],
   [11, 0, 0, 1, 11, 4, 3, 0],
   [11, 1, 0, 6, 3, 4, 4, 8],
   [11, 1, 0, 6, 3, 4, 4, 8],
   [11, 1, 0, 0, 5, 4, 3, 8],
   [11, 1, 0, 0, 5, 4, 3, 8],
   [3, 1, 0, 5, 3, 4, 4, 6],
   [3, 1, 0, 5, 3, 4, 4, 6],
   [0, 0, 0, 7, 9, 0, 1, 5],
   [0, 0, 0, 7, 9, 0, 0, 5],
   [6, 0, 0, 7, 8, 0, 1, 5],
   [17, 0, 0, 7, 6, 0, 1, 5]],
  'op': 'old + 8',
  'test': 2,
  't_dst': 6,
  'f_dst': 0,
  'inspected': 139887},
 {'items': [[0, 1, 1, 9, 0, 1, 4, 0],
   [0, 1, 1, 1, 3, 1, 4, 0],
   [0, 1, 1, 9, 0, 1, 1, 0],
   [0, 1, 1, 9, 3, 1, 1, 0],
   [0, 0, 1, 13, 1, 4, 4, 9],
   [0, 0, 1, 13, 1, 4, 4, 9],
   [0, 0, 1, 13, 0, 4, 1, 9],
   [7, 0, 1, 4, 3, 1, 1, 4],
   [4, 0, 1, 4, 9, 1, 4, 4]],
  'op': 'old + 1',
  'test': 3,
  't_dst': 5,
  'f_dst': 3,
  'inspected': 99585},
 {'items': [[9, 1, 2, 0, 10, 5, 4, 6],
   [10, 1, 1, 13, 10, 5, 3, 6],
   [4, 1, 1, 13, 11, 5, 3, 6]],
  'op': 'old * 7',
  'test': 17,
  't_dst': 5,
  'f_dst': 4,
  'inspected': 139923},
 {'items': [],
  'op': 'old + 4',
  'test': 13,
  't_dst': 0,
  'f_dst': 1,
  'inspected': 119975},
 {'items': [],
  'op': 'old + 7',
  'test': 7,
  't_dst': 1,
  'f_dst': 4,
  'inspected': 19972},
 {'items': [],
  'op': 'old * old',
  'test': 5,
  't_dst': 7,
  'f_dst': 2,
  'inspected': 99605},
 {'items': [],
  'op': 'old + 6',
  'test': 11,
  't_dst': 2,
  'f_dst': 3,
  'inspected': 40344}]

In [ ]:
l = sorted([x['inspected'] for x in monkeys],reverse=True)
l[0] * l[1]

19573408701